//
// Responsive Breakpoint Mixins
//
$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;
$old-ie: false !default;

//
// IE Support
//
@mixin old-ie {
  // Only use this content if we're dealing with old IE
  @if $old-ie {
    @content;
  }
}

//
// Foundation Mixins
//

// Used to alter styles for screens below 768px wide. This is where the grid changes.
@mixin small {
    @media (max-width: $small-screen) {
        @content;
    }
}

// Used to alter styles for screens at least 768px wide. This is where the grid changes.
@mixin medium {
    @media (min-width: $small-screen) {
        @content;
    }
}

// Used to alter styles for screens at least 1440px wide.
@mixin large {
    @media #{$screen} {
        @content;
    }
}

//
// Exact helpers
//

@mixin breakpoint-max($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin breakpoint-min($w) {
  @media (min-width: $w) {
    @content;
  }
}

//
// Pixel based versions
//

// Both portrait and landscape
@mixin mobile {
    @media (max-width: $mq-mobile-landscape) {
        @content;
    }
}

// Everything up to and including the portrait width of the phone
// Since it's the smallest query it doesn't need a min
@mixin mobile-portrait {
    @media (max-width: $mq-mobile-portrait) {
        @content;
    }
}

// Everything up to and including the mobile portrait
@mixin mobile-portrait-and-below {
    @media (max-width: $mq-mobile-portrait) {
        @content;
    }
}

// Everything above and including the mobile portrait
@mixin mobile-portrait-and-up {
    @media (min-width: $mq-mobile-portrait) {
        @content;
    }
}

// Everthing larger than a portrait mobile up until mobile landscape
@mixin mobile-landscape {
    @media only screen and (min-width: $mq-mobile-portrait + 1) and (max-width: $mq-mobile-landscape) {
        @content;
    }
}

// Everything up to and including the mobile landscape width
@mixin mobile-landscape-and-below {
    @media only screen and (max-width: $mq-mobile-landscape) {
        @content;
    }
}

// Everything above and including the mobile landscape width
@mixin mobile-landscape-and-up {
    @media only screen and (min-width: $mq-mobile-portrait + 1) {
        @content;
    }
}

// Both the portrait and landscape width of the tablet
// Larger than a landscape mobile but less than or equal to a landscape tablet
@mixin tablet {
    @media only screen and (min-width: $mq-mobile-landscape + 1) and (max-width: $mq-tablet-landscape) {
        @content;
    }
}

// Everything larger than mobile landscape up until the portrait width of the tablet
@mixin tablet-portrait {
    @media only screen and (min-width: $mq-mobile-landscape + 1) and (max-width: $mq-tablet-portrait) {
        @content;
    }
}

// Everything below and including the portrait width of the tablet
@mixin tablet-portrait-and-below {
    @media only screen and (max-width: $mq-tablet-portrait) {
        @content;
    }
}

// Everything above and including the portrait width of the tablet
@mixin tablet-portrait-and-up {
    @media only screen and (min-width: $mq-mobile-landscape + 1) {
        @content;
    }
}

// Larger than portrait but less than or equal to the landscape width
@mixin tablet-landscape {
    @media only screen and (min-width: $mq-tablet-portrait + 1) and (max-width: $mq-tablet-landscape) {
        @content;
    }
}

// Up to and including the tablet landscape
@mixin tablet-landscape-and-below {
    @media only screen and (max-width: $mq-tablet-landscape) {
        @content;
    }
}

// Everything larger than portrait tablet
@mixin tablet-landscape-and-up {
    @media only screen and (min-width: $mq-tablet-portrait + 1) {
        @content;
    }
}

// Everything larger than a landscape tablet
@mixin desktop-and-up {
    @media only screen and (min-width: $mq-tablet-landscape + 1) {
        @content;
    }
}

// Everything below and including the desktop
@mixin desktop-and-below {
    @media only screen and (max-width: $mq-desktop) {
        @content;
    }
}

// Everything larger than a landscape tablet but less than or equal to the desktop
@mixin desktop {
    @media only screen and (min-width: $mq-tablet-landscape + 1) and (max-width: $mq-desktop) {
        @content;
    }
}
