$fonts: "Helvetica Neue",Helvetica,Arial,sans-serif;
$form_field_font_size: 1em;
$form_field_padding: 4px;
$form_field_border_width: 1px;
$red: #c00;
$white: #ffffff;

$left_column_width: 660px;
$right_column_width: 240px;
$grey_text: #585858;
